        <footer id="contacto" class="footer_area_six sec_pad">
            <div class="footer_top_six">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="f_widget company_widget">
                                <a href="{{@BASE}}" class="f-logo"><img src="{{ @ruta }}assets/img/logo_deltadevs_lg.png"
                                        srcset="{{ @ruta }}assets/img/logo_deltadevs_lg.png 2x" alt="logo" width="200"></a>
                                <p class="mt_40">Más de 10 años construyendo tecnología que se adapta a tu negocio.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="f_widget about-widget">
                                <h3 class="f-title f_600 w_color f_size_18 mb_40">Delta Developers</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#servicios">Servicios</a></li>
                                    <li><a href="#">Por qué Delta</a></li>
                                    <li><a href="#">Proyectos</a></li>
                                    <li><a href="#contacto">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="f_widget about-widget">
                                <h3 class="f-title f_600 w_color f_size_18 mb_40">Hablemos</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#contacto">Solicitar diagnóstico</a></li>
                                    <li><a href="#contacto">Soporte técnico</a></li>
                                    <li><a href="#contacto">Desarrollo a la medida</a></li>
                                    <li><a href="#contacto">Administración de sistemas</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="f_widget social-widget">
                                <h3 class="f-title f_600 w_color f_size_18 mb_40">Síguenos</h3>
                                <div class="f_social_icon">
                                    <a href="#" class="ti-facebook"></a>
                                    <a href="#" class="ti-linkedin"></a>
                                    <a href="#" class="ti-twitter-alt"></a>
                                    <a href="#" class="ti-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>