<header class="header_area">
            <nav class="navbar navbar-expand-lg menu_six">
                <div class="container custom_container p0">
                    <a class="navbar-brand sticky_logo" href="{{ @ruta }}">
                        <img src="{{ @ruta }}assets/img/logo_deltadevs_lg.png" srcset="{{ @ruta }}assets/img/logo2x-2.png 2x" alt="logo" class="w-25">
                            <img src="{{ @ruta }}assets/img/logo_deltadevs_lg.png" srcset="{{ @ruta }}assets/img/logo_deltadevs_lg.png 2x" alt="" class="w-25">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu ms-auto me-auto">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two">
                                <a class="nav-link" href="{{ @ruta }}" role="button">
                                    Inicio
                                </a>
                            </li>      
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link" href="{{ @ruta }}nosotros" role="button">
                                    Nosotros
                                </a>
                            </li>                      
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link" href="{{ @ruta }}servicios" role="button">
                                    Servicios
                                </a>
                            </li>                            
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link" href="{{ @ruta }}contacto" role="button">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>