 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ @ruta }}assets/js/jquery-3.6.0.min.js"></script>
    <script src="{{ @ruta }}assets/js/popper.min.js"></script>
    <script src="{{ @ruta }}assets/js/bootstrap.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/wow/wow.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="{{ @ruta }}assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/isotope/isotope-min.js"></script>
    <script src="{{ @ruta }}assets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="{{ @ruta }}assets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ @ruta }}assets/js/main.js"></script>

    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcFT80UAAAAAOEK2Fg381ZRcQfW8MqBjd_n5XLL"></script>

    