<!doctype html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Nosotros - Delta Developers MX</title>
    
    <include href="plantilla/styles.html" />
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader dark">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="V" class="letters-loading">
                        V
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                </div>
                <p class="text-center">Cargando</p>
            </div>
            <div class="loader dark_bg">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">
        <include href="plantilla/menu.html" />

        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Case Study Details</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse
                        pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p>
                </div>
            </div>
        </section>
        <section class="case_study_details_area sec_pad">
            <div class="container">
                <div class="study_details">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="details_img">
                                <img src="img/new/case/case_details_01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="details_info">
                                <h2>Info</h2>
                                <ul class="list-unstyled">
                                    <li><span>Date :</span> 20 March, 2020</li>
                                    <li><span>Category :</span> Development, Saas, App</li>
                                    <li><span>Client :</span> Hanson Deck</li>
                                </ul>
                                <div class="btn_info d-flex">
                                    <a href="#" class="btn_hover agency_banner_btn">Launch Website</a>
                                    <a href="#" class="tag"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="study_details_content">
                        <h2>Project Brief:</h2>
                        <p>Why I say old chap that is spiffing cheeky my lady cup of tea, naff tosser grub barmy Queen's
                            English gormless what a load of rubbish arse A bit of how's your father up the kyver cras,
                            wellies lurgy bender lost the plot some dodgy chav my good sir posh excuse my French cheeky
                            bugger. Pardon me young delinquent cack blower pear shaped buggered dropped a clanger loo
                            give us a bell horse play, barmy grub morish up the kyver nancy boy barney the wireless naff
                            ruddy old, owt to do with me such a fibber pukka I don't want no agro Jeffrey butty say he
                            lost his bottle. Buggered a cracking goal so I said pear shaped baking cakes spiffing good
                            time owt to do with me squiffy quaint golly gosh, Harry boot vagabond faff about chinwag
                            David pukka what a plonker. </p>
                        <p>Bonnet loo knackered what a plonker my lady dropped a clanger that mush posh spiffing good
                            time is ummm I'm telling, hanky panky brown bread give us a bell arse cracking goal skive
                            off twit are you taking the piss lurgy some dodgy chav, baking cakes on your bike mate blag
                            A bit of how's your father lavatory faff about pear shaped cup of tea cockup squiffy.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="case_study_details_area_two sec_pad bg_color">
            <div class="container">
                <div class="row study_details_two flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="details_img text-end">
                            <img src="img/new/case/case_details_02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="study_details_content">
                            <h2>Subwoofer roer Pioneer</h2>
                            <p>A bit of how's your father cuppa up the kyver cup of char I tomfoolery bobby morish
                                cheeky brilliant say burke knees up, lost the plot hunky-dory only a quid geeza amongst
                                spend a penny bog-standard haggle squiffy Jeffrey porkies he nicked it brown bread</p>
                        </div>
                        <div class="study_details_content">
                            <h2>The Opportunity</h2>
                            <p>A bit of how's your father cuppa up the kyver cup of char I tomfoolery bobby morish
                                cheeky brilliant say burke knees up, lost the plot hunky-dory only a quid geeza amongst
                                spend a penny.!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case_study_details_area_three sec_pad">
            <div class="container">
                <div class="row study_details_three">
                    <div class="col-lg-6">
                        <div class="details_img">
                            <img src="img/new/case/case_details_03.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="study_details_content">
                            <h2>Subwoofer roer Pioneer</h2>
                            <p>A bit of how's your father cuppa up the kyver cup of char I tomfoolery bobby morish
                                cheeky brilliant say burke knees up, lost the plot hunky-dory only a quid geeza amongst
                                spend a penny bog-standard haggle squiffy Jeffrey porkies he nicked it brown bread</p>
                            <ul class="list-unstyled">
                                <li>The Semantics</li>
                                <li>Separated they live in Bookmarksgrove</li>
                                <li>A large language ocean.</li>
                                <li>Right at the coast of</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <include href="plantilla/footer.html" />
    </div>
    
    <include href="plantilla/scripts.html" />
</body>

</html>