<!doctype html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Servicios - Delta Developers MX</title>
    
    <include href="plantilla/styles.html" />
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader dark">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="V" class="letters-loading">
                        V
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                </div>
                <p class="text-center">Cargando</p>
            </div>
            <div class="loader dark_bg">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">
        <include href="plantilla/menu.html" />

        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Business Analytics</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse
                        pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p>
                </div>
            </div>
        </section>
        <section class="app_service_area app_service_area_two">
            <div class="container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20">How We Work</h2>
                    <p class="f_400 f_size_16">Bender cobblers chap grub sloshed up the duff I fantastic<br> owt to do
                        with me at public school.!</p>
                </div>
                <div class="row app_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="app_service_item">
                            <i class="ti-settings app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Premium plugins</h5>
                            <p class="f_400 f_size_15 mb-30">Oxford jolly good cras bugger down the pub blow off well
                                arse tinkety tonk old fruit William bite your arm off haggle, old it's all gone to pot
                                daft no biggie bog.!</p>
                            <a href="#" class="learn_btn_two c_violet">Learn More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="app_service_item">
                            <i class="ti-heart-broken app_icon two"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Unique elements</h5>
                            <p class="f_400 f_size_15 mb-30">Oxford jolly good cras bugger down the pub blow off well
                                arse tinkety tonk old fruit William bite your arm off haggle, old it's all gone to pot
                                daft no biggie bog.!</p>
                            <a href="#" class="learn_btn_two c_violet">Learn More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="app_service_item">
                            <i class="ti-target app_icon three"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Live page builder</h5>
                            <p class="f_400 f_size_15 mb-30">Oxford jolly good cras bugger down the pub blow off well
                                arse tinkety tonk old fruit William bite your arm off haggle, old it's all gone to pot
                                daft no biggie bog.!</p>
                            <a href="#" class="learn_btn_two c_violet">Learn More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service_details_area sec_pad">
            <div class="container">
                <div class="row flex-row-reverse service_details_item">
                    <div class="col-lg-6">
                        <div class="service_details_img ml-0">
                            <img src="img/breadcrumb/service_details_one.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service_details pr_120">
                            <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Predictive and imperative approach
                                towards software.</h2>
                            <p class="f_400 mb_50">Why I say old chap that is spiffing pukka, bamboozled wind up bugger
                                buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak
                                vagabond cheeky.!</p>
                            <ul class="list-unstyled mb-30 pl-0 pr_20">
                                <li><i class="ti-check"></i>Only a quid I dropped a clanger matie boy excuse my French
                                    hanky.</li>
                                <li><i class="ti-check"></i>Panky pardon you me old mucker bum bag, bevvy bloke it's all
                                    gone to pot.</li>
                                <li><i class="ti-check"></i>Ummm I'm telling bits and bobs mush baking cakes car boot.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row service_details_item">
                    <div class="col-lg-6">
                        <div class="service_details_img">
                            <img src="img/breadcrumb/service_details.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="service_details">
                            <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Social intranet software that<br>
                                drives employee engagement and productivity.</h2>
                            <p class="f_400 mb_40">Why I say old chap that is spiffing pukka, bamboozled wind up bugger
                                buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak
                                vagabond cheeky.!</p>
                            <a href="#" class="learn_btn_two c_violet">View More About <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <include href="plantilla/footer.html" />
    </div>
    
    <include href="plantilla/scripts.html" />
</body>

</html>